body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    width: 100vw;
}

#navbar {
    background-color: white;
    position: fixed;
    box-shadow: 20px 20px 50px #dfdbdf;
    width: 100vw;
    height: 6vw;
    display: flex;
    justify-content: space-between;
    z-index: +2;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    margin-top: 0vw;
}

.nav {
    padding: 1vw;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

#navimg {
    width: 100vw;
    font-size: 1vw;
}

#logobut {
    border: none;
    background-color: hsl(1, 1%, 1%, 0);
    height: 6vw;

}

#logoimg {
    width: 5.5vw;
    padding: 0.2vw;

}

#search {
    display: flex;

}

#inputsearch {
    color: black;
    font-size: 1vw;
    height: 5.5vw;
}

#searchbut {
    background-image: url("assets/icons8-search-60.png");
    height: 6vw;
    background-repeat: no-repeat;
    width: 6vw;
}

input {
    height: 6vw;

}

#navbottom {
    border-style: groove;
}


/* navbar end */


video {
    width: 100vw;
    z-index: -1;
    margin-bottom: 2vw;
    box-shadow: 0px 9px 25px 5px rgb(0 0 0 / 54%);
}

#video {
    font-size: 3vw;
    z-index: +1;
    position: absolute;
    margin-top: -16vw;
    color: #fedfd9;
    padding-inline: 6vw;

}



/* the item info */



#all {
    display: flex;
    overflow-x: scroll;
    padding: 3vw;

}

#pop {
    background-color: #7e427a;
    box-shadow: 0px 32px 80px 19px #7e427a;

}

#reggae {
    background-color: #aaf778;
    box-shadow: 0px 10px  101px 34px #aaf778;
}

#jazz {
    background-color: #e4d4ba;
    box-shadow: 0px 10px  101px 51px #e4d4ba;
}

#indie {
    background-color: #426c83;
    box-shadow: 0px 26px 101px 12px #426c83;
}

#metal {
    background-color: #fa0302;
    box-shadow: 0px 28px 80px 5px #fa0302;
}

.reckords {
    width: 30vw;
}

.reckordsimg {
    width: 30vw;
}


/* footer */


#footercontainer {
    flex-direction: column-reverse;
    padding-top: 3vw;
    background-color: rgba(168, 74, 160, 0.2);
    display: flex;
}

#rights {
    display: flex;
    justify-content: space-evenly;
}

#socmed {
    display: flex;
    justify-content: center;
}

.socmed {
    width: 9vw;
}

#yout {
    width: 9.7vw;
}





@media screen and (max-width: 768px) {

    #itemimg {
        width: 80vw;
        height: fit-content;

    }

    #itemexpl {
        font-size: 4vw;
        padding-inline: 9vw;
    }


    #navbar {
        height: 10vw;
        width: 103.5vw;
    }

    #inputsearch {
        height: 8.5vw;
        width: 20vw;

    }

    #searchbut {
        height: 10.1vw;
        width: 10vw;
    }

    #logoimg {
        width: 9.5vw;
        padding: 0vw;
        margin-top: -1.7vw;
    }

    .itembut {
        width: 17vw;
        height: 9vw;
    }

    #theitem {
        flex-direction: column;

    }

}

#metal{
    position: relative;
    animation: animetal 16s infinite;
}
@keyframes animetal{
    6%{visibility: visible;left:0vw}
    22%{visibility: visible;left:120vw}
    39%{visibility: visible;left:90vw}
    56%{visibility: visible;left:60vw}
    72%{visibility: visible;left:30vw}
    89%{visibility: visible;left:0vw}
}

#jazz{
    position: relative;
    animation: anijazz 16s infinite;
}
@keyframes anijazz{
    6%{visibility: visible;left:0vw}
    22%{visibility: visible;left:-30vw}
    39%{visibility: visible;left:90vw}
    56%{visibility: visible;left:60vw}
    72%{visibility: visible;left:30vw}
    89%{visibility: visible;left:0vw}
}
#indie{
    position: relative;
    animation: aniindie 16s infinite;
}
@keyframes aniindie{
    6%{visibility: visible;left:0vw}
    22%{visibility: visible;left:-30vw}
    39%{visibility: visible;left:-60vw}
    56%{visibility: visible;left:60vw}
    72%{visibility: visible;left:30vw;}
    89%{visibility: visible;left:0vw}
}

#reggae{
    position: relative;
    animation: anireggae 16s infinite;
}
@keyframes anireggae{
    6%{visibility: visible;left:0vw}
    22%{visibility: visible;left:-30vw}
    39%{visibility: visible;left:-60vw}
    56%{visibility: visible;left:-90vw}
    72%{visibility: visible;left:30vw}
    89%{visibility: visible;left:0vw}
}


#pop{
    position: relative;
    animation: anipop 16s infinite ;
}
@keyframes anipop{
    6%{visibility: visible;left:0vw}
    22%{visibility: visible;left:-30vw}
    39%{visibility: visible;left:-60vw}
    56%{visibility: visible;left:-90vw}
    72%{visibility: visible;left:-120vw}
    89%{visibility: visible;left:0vw}
}